<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">Ending Chat</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Samuraiyewster
      </div>
      <div class="message-date">
        2021/10/23(Sat) 14:47:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        Good Morning
      </div>
    </div>  
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Jean-Francois
      </div>
      <div class="message-date">
        2021/10/23(Sat) 14:57:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        Bon Jour
      </div>
    </div>
  </div>  
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">image</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="send">
</div>